[Unit]
Description=HLS capture service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=5
User=root
ExecStart=/usr/bin/capture_hls

[Install]
WantedBy=multi-user.target
